name: Auto Deploy to OCI OKE   # top-level key

on:                           # when the workflow runs
  push:
    branches:
      - main

jobs:                          # top-level key
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Deploy to OCI OKE
        run: |
          echo "${{ secrets.KUBECONFIG }}" > kubeconfig.yaml
          export KUBECONFIG=$(pwd)/kubeconfig.yaml

          # Test connection
          kubectl get nodes

          # Apply all manifests in the k8s folder
          kubectl apply -f k8s/ --validate=false
